:root {
    /* light blues */
    /* --theme-dark: #0A1829;
    --theme-mid-a: #588E95;
    --theme-mid-b: #7FADA9;
    --theme-light-a: #CCD9CE;
    --theme-light-b: #F6EDD3;  */

    /* light browns */
    /* --theme-dark: #130D0A;
    --theme-mid-a: #994202;
    --theme-mid-b: #CD9340;
    --theme-light-a: #FFD392;
    --theme-light-b: #FEECCB;  */

    /* blue & cornsilk */
    --theme-dark: #222222;
    --theme-mid-a: #646666;
    --theme-mid-b: #004255;
    --theme-light-a: #00556F;
    --theme-light-b: #FFFCE0;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--theme-dark);
}
a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}


/* HEADER */

header {
    z-index: 1;
    position: sticky;
    top: 20px;

    width: 100%;

    background-color: var(--theme-mid-b);
    box-shadow: 0 1px 10px var(--theme-mid-b);
}
header h1 {
    margin-left: 45px; 
    margin-top: 100px;

    color: var(--theme-light-b);
    font-family: Trirong, serif;
    font-size: 45pt;
    font-size-adjust: 0.5;
    vertical-align: baseline;
    line-height: 0.6;
    text-transform: lowercase;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 1px 2px var(--theme-mid-a);
}
/* Utility - to preserve "abel baker" and "a silly billy" at low resolutions*/
.no-break {
    white-space: nowrap;
}


/* HEADER AND FOOTER NAV */

nav {
    z-index: -1;
    position: absolute;
    right: 0;

    background-color: var(--theme-light-b);
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}
nav ul li.nav-label {
    padding: 10px;
}
nav ul li {
    color: var(--theme-dark);
    font-family: Rubik, sans-serif;
    font-weight: bold;
}
nav ul li a {
    display: block;

    padding: 10px;
}
nav ul li a:hover {
    background-color: var(--theme-dark);

    color: var(--theme-light-b);
}


/* HERO */

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    height: 200px;

    background-image: url("../images/hero-bg.webp");
    background-size: cover;
    background-position: center;
}
.hero p {
    padding: 30px 14px;

    color: var(--theme-light-b);
    font-family: Rubik, sans-serif;
}
.hero img {
    max-height: 200px;
}

/* correct anchor location for sticky header */
#hero, #section-projects {
    scroll-margin-top: 80px;
}


/* MAIN/CONTENT */

.title-bar {    
    margin-bottom: 20px;

    background-color: var(--theme-light-a);
}
h3 {
    margin-left: 14px;

    color: var(--theme-light-b);
    font-family: Trirong, serif;
    font-size: 40px;
} 

/* For setting the text in lower-right */
article {
    position: relative;
    flex: 0 300px;

    height: 450px;

    border: 6px solid var(--theme-mid-b);
    
    overflow: hidden;
}

article p {
    position: absolute;
    bottom: 0;
    right: 0;

    min-width: 90px;
    padding: 6px 30px 0 6px;
    
    background-color: var(--theme-mid-b);

    color: var(--theme-light-b);
    font-size: 18px;
    font-family: Rubik, sans-serif;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 22px;
    margin-bottom: 65px;
    gap: 20px;
}

.resume-container article {
    flex: 0 940px;
    height: 200px;
}

.contact-container article {
    height: 200px;
}


/* images */

article a {
    flex: auto;
}

.article-container article img {
    min-width: 100%;
    min-height: 100%;

    opacity: 100%;
    transition: opacity 300ms ease;
}
.article-container article img:hover {
    opacity: 10%;
}

#project-html {
    background-position: center;
    background-size: cover;
    background-image: url('../images/css.webp');
}
#project-js {
    background-position: center;
    background-size: cover;
    background-image: url('../images/js.webp');
}

#project-combo {
    background-position: center;
    background-size: cover;
    background-image: url('../images/yarn.webp');
}

#resume {
    background-position: center;
    background-size: cover;
    background-image: url('../images/resume.png');
}

.contact-tile {
    overflow: hidden;
}
.contact-tile img {
    max-width: 100%;
    object-fit: contain;
}


/* MEDIA QUERIES */

/* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .flip-article {
        flex: 0 1 620px;
        height: 200px;
    }
    .resume-container article {
        flex: 0 1 620px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        line-height: 0.8;
    }
    header {
        position: relative;
    }
    header h1 {
        margin-top: 10px;
    }
    header .nav-label {
        display: none;
    }
    .hero, .hero img {
        height: 100px;
    }
    #section-projects {
        scroll-margin-top: 0;
    }
    article {
        flex: 0 1 620px;
        height: 200px;
    }
    .article-container {
        padding: 0;
    }
    .contact-container article {
        flex: 0 0 200px;
    }
}

@media screen and (max-width: 575px) {
    .project-container article {
        height: 200px;
        width: 620px;
    }
}